body, html {
    height: 100%;
}

.background {
    background-image: url("https://www.byrdie.com/thmb/_f9jG3VVai_akdX_Dw4yxfdDBao=/1080x810/filters:fill(auto,1)/main-dc2047c21ee245a98c725eab103a3004.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 26px;
    list-style: none;
    color: rgb(95, 121, 156);
    text-shadow: 1.5px 1px #080808;
    font-weight: bold;
}

main {
    font-style: italic;
    font-size: 18px;
}

header {
    position: relative;
    margin-top: -39rem;
    text-align: center;
    font-size: 30px;
    color: rgb(120, 177, 134);
    font-style: italic;
    text-shadow: 1.5px 1px #080808;
}

fieldset {
    border: 1px solid black;
    width: 40rem;
    height: 20rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.quiz-form {
    display: block;
    position: relative;
    background-color: rgba(75, 100, 88, 0.575);
}

.final,
.response {
    color:rgb(221, 241, 146);
    text-shadow: -2px 1px #070501;
    font-size: 22px;
}

.questionBox {
    color: rgb(221, 241, 146);
    text-shadow: -2px 1px #070501;
    font-size: 26px;
    margin-top: -10px;
}

.startQuiz {
    display: block;
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;
}

button {
    display: block;
    width: 200px;
    height: auto;
    font-size: 14px;
    text-align: center;
    padding: 20px;
    border: 2px solid #928e8e;
    border-radius: 3px;
    background-color:  #4d6e58;;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #90c5a0;
  }
   

.images {
    width: 75%;
}



.form-pic {
    width: 50%;
}

.quiz-end {
    margin-top: 10px;
}

.nextButton,
.restartButton {
    margin-top: -10px;
}


@media screen and (min-width: 300px) {

    .question {
        font-size: 28px;
    }

    .background {
        height: 110%;
        width: 110%;
        margin-top:-3rem;
    } 

    .scores {
        font-size: 24px;
    }

    header {
        position: relative;
        text-align: center;
        margin-top: -40rem;
        font-size: 22px;

    }

    fieldset {
        border: 1px solid black;
        width: 22rem;
        height: 14rem;
        margin-top:-15px;
    }
    
    .final {
        margin-top: -20px;
        font-size: 18px;
    }
    .response {
        margin-top: 10px;
        font-size: 18px;
    }

    .questionBox {
        font-size: 24px;
        margin-top: -10px;
    }

    .quiz-form {
        width: 110%;
    }

    .images {
        width: 80%;
    }


    .form-pic {
        width: 70%;
    }

    .quiz-end {
        margin-top: 10px;
    }

    .nextButton,
    .restartButton {
        margin-top: 20px;
    }
}
  
@media screen and (min-width: 750px) {

    main {
        margin-right: -15px;
        margin: 0;
      }

    .question {
        margin-top: 20px;
        font-size: 36px;
    }

    .scores {
        margin-top: -25px;
        font-size: 26px;
    }

    .background {
        margin-top:-8rem;
    }  

    header {
        text-align: center;
        margin-top: -59rem;
        font-size: 28px;
    }
    

    fieldset {
        margin-top: -15px;
        width: 35rem;
        height: 20rem;
    }
    
    .final {
        font-size: 20px;
    }
    .response {
        margin-top: -25px;
        font-size: 20px;
    }

    .questionBox {
        font-size: 28px;
        margin-top: -5px;
    }


    .images {
        width: 85%;
    }


    .form-pic {
        margin-top: 28px;
        width: 65%;
    }

    .quiz-end {
        margin-top: 10px;
    }

    #subButton {
        margin-top: 40px;
    }
    
    .nextButton {
        margin-top: 0px;
    }

    .restartButton {
        margin-top: -20px;
    }
}

  
@media screen and (min-width: 1020px) {
    /* main {
      margin: 0;
    } */

    .question {
        font-size: 37px;
    }


    .background {
        margin-top: -10px;
        height: 110%;
     } 

     .scores {
        font-size: 32px;
    }

    header {
        margin-top: -52rem;
        font-size: 38px;
    }

    fieldset {
        border: 1px solid black;
        width: 50rem;
        height: 20rem;
    }
    
    .final,
    .response {
        margin-top: -15px;
        font-size: 24px;
    }

    .questionBox {
        font-size: 32px;
        margin-top: 28px;
    }


    .images {
        width: 75%;
    }

     #subButton {
        margin-top: 55px;
    }

    .form-pic {
        width: 55%;
    }

    .correctPic {
        width: 55%;
        margin-top: -15px;
    }

    .quiz-end {
        margin-top: 10px;
    }

    .nextButton,
    .restartButton {
        margin-top: 20px;
    }
}


